
body {
    font-family: sans-serif;
    margin: 0;
    padding: 0;
  }
  
  header,
  main,
  footer {
    padding: 20px;
  }
  
  h1,
  h2 {
    margin-bottom: 10px;
  }
  
  img {
    width: 100%;
    max-width: 500px;
    margin-bottom: 20px;
  }
  
  a {
    color: #007bff;
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ddd;
    margin: 5px;
  }
  
  a:hover {
    background-color: #ddd;
  }

  nav {
    display: flex;
    justify-content: space-between;
  }
  
  .logo {
    flex: 1;
  }
  
  .menu {
    display: flex;
  }
  
  .menu a {
    margin-left: 10px;
  }

  main {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
  }
  
  .terms-and-conditions {
    width: 70%; 
    background-color: #f5f5f5; 
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
  }
  
  .terms-and-conditions ul {
    list-style: disc;
    padding-left: 20px; 
  }
  
  .terms-and-conditions li ul {
    list-style: circle; 
    padding-left: 20px;
  }

  footer {
    text-align: center;
    background-color: #f2f2f2; 
    padding: 10px;
  }
  
  .footer-content {
    display: flex;
    justify-content: center;
    flex-wrap: wrap; 
    margin-bottom: 10px;
  }
  
  .footer a {
    color: #333; 
  }
  

  @media (min-width: 768px) {
    header,
    main,
    footer {
      padding: 40px;
    }
  
    .terms-and-conditions {
      width: 50%;
    }
  
    .logo {
      font-size: 1.5rem; }
  }
  
  @media (min-width: 1024px) {
    .terms-and-conditions {
      width: 40%;
    }
  
    h1 {
      font-size: 2.5rem; 
    }
  }
  